.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/*
work/*

src/main/webapp/WEB-INF/classes/com/jerrylin/myhouse/web/exception/MyDefaultExceptionResolver.class
src/main/webapp/WEB-INF/classes/com/jerrylin/myhouse/web/house/VTourController.class
src/main/webapp/WEB-INF/classes/com/jerrylin/myhouse/web/servlet/ZipDownloadServlet.class
src/main/webapp/WEB-INF/classes/com/jerrylin/myhouse/zip/DeCompressUtil.class
src/main/webapp/WEB-INF/lib/commons-logging-1.1.1.jar
src/main/webapp/WEB-INF/lib/java-unrar-1.7.0-SNAPSHOT.jar
src/main/webapp/WEB-INF/lib/thumbnailator-0.4.7.jar
src/main/webapp/testimg/360 Photos.zip
src/main/webapp/testimg/Slideshows.zip
src/main/webapp/testimg/test.zip
src/main/webapp/tmp/d2.rar